<div class="mat-app-background">

<!-- <div class="headpos"> <h3>Fare<span style="color:maroon;">S</span>hare</h3></div> -->


<!-- <nav md-tab-nav-bar>
  <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index;" [routerLink]="routeLink.link" routerLinkActive="mat-tab-link-active"
    #rla="routerLinkActive"  (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}">
    {{routeLink.label}}
  </a>
</nav> -->

<!-- <a class="btn-floating btn-large waves-effect waves-light red buttonpos" (click)="on()"><i class="material-icons">add</i></a> -->
<div style="display:block">

<router-outlet></router-outlet>
</div>
</div>
<div class="clear"></div>
<footer style="z-index:100">
    <nav class="navbar fixed-bottom" mat-tab-nav-bar style=" background-color:white;height:auto">
      <span style="margin:0 auto;">
          <a mat-tab-link [routerLink]="['/usermain','screen','personal']" routerLinkActive = "activeTab" class="inActiveTab">
            Personal
          </a>
        <a mat-tab-link [routerLink]="['/usermain','screen','individual']" routerLinkActive = "activeTab" class="inActiveTab">
          Individual
        </a>
        <a mat-tab-link [routerLink]="['/usermain','screen','group']" routerLinkActive = "activeTab" class="inActiveTab">
          Groups
        </a>
        <a mat-tab-link [routerLink]="['/usermain','screen','recent']" routerLinkActive = "activeTab" class="inActiveTab">
          Notifications
        </a>
      </span>
    </nav>
</footer>
