<div class="mat-app-background">
<mat-toolbar color="primary" style="background-color:rgb(170, 12, 91)">
  <mat-toolbar-row>
    <span><a href="#false" data-activates="slide-out" class="button-collapse">
      <i class="md-36 material-icons md-light">reorder</i>
    </a></span>
    <span style="text-align:center">FairShare</span>
  </mat-toolbar-row>
</mat-toolbar>
<ul id="slide-out" class="side-nav" style="background-color: rgb(40, 41, 41)">
  <li style="background-color: rgb(107, 24, 65)">
    <div class="user-view">
      <div class="background">
        <img src="assets/images/img2.png">
      </div>
      <a href="#login">
        <img class="circle" src="assets/images/img.jpg">
      </a>
      <a href="#!name">
        <span class="white-text name">{{username}}</span>
      </a>
      <a href="#!email">
        <span class="white-text email">sahajGandu@gmail.com</span>
      </a>
    </div>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons">group_add</i>Add Friends</a>
  </li>
  <li>
    <a href="#!">
      <i class="material-icons md-light">view_module</i><span class="mkwhite">Activity</span></a>
  </li>
  <li>
    <!-- <div class="divider" style="color:black"></div> -->
  </li>
  <li>
    <a class="subheader">Account Settings</a>
  </li>
  <li>
    <a class="waves-effect" href="#!">
      <i class="material-icons md-light">power_settings_new</i>Log-Out</a>
  </li>
</ul>


<!-- <div class="headpos"> <h3>Fare<span style="color:maroon;">S</span>hare</h3></div> -->

<div class="overlay" [style.display]="displayG || displayI ? 'block' : 'none'">
  <div [@divState]="state">
    <app-upper-card [style.display]="displayI ? 'block' : 'none'"></app-upper-card>
    <!-- <app-group-card [style.display]="displayG ? 'block' : 'none'"></app-group-card>  -->
  </div>
</div>
<!-- <a href="#false" data-activates="slide-out" class="button-collapse">
        <i class="medium material-icons">reorder</i>
      </a> -->
<div class="fixed-action-btn horizontal click-to-toggle buttonpos">
  <a class="btn-floating btn-large red">
    <i class="large material-icons" (click)="on()">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating red" (click)="onI()">
        <i class="material-icons">person_add</i>
      </a>
    </li>
    <li>
      <a class="btn-floating blue" (click)="onG()">
        <i class="material-icons">group_add</i>
      </a>
    </li>
  </ul>
</div>
<!-- <nav md-tab-nav-bar>
  <a md-tab-link *ngFor="let routeLink of routeLinks; let i = index;" [routerLink]="routeLink.link" routerLinkActive="mat-tab-link-active"
    #rla="routerLinkActive"  (click)="activeLinkIndex = i" [routerLinkActiveOptions]="{exact: true}">
    {{routeLink.label}}
  </a>
</nav> -->

<!-- <a class="btn-floating btn-large waves-effect waves-light red buttonpos" (click)="on()"><i class="material-icons">add</i></a> -->
<div style="padding-top: 50px">
<router-outlet></router-outlet>
</div>
</div>