<ul class="collection">
  <li class="collection-item avatar">
    <img src="assets/images/profile.png" alt="" class="circle">
    <span class="title res">Srijan Added new record</span>
    <p style="color:green" class="res">He owes you 200</p>
    <br>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
  <li class="collection-item avatar">
      <img src="assets/images/profile.png" alt="" class="circle">
    <span class="title res">Garvit added a new record</span>
    <p style="color:red" class="res">You owe Garvit 300</p><br>
    <a href="#!" class="secondary-content"><i class="material-icons">grade</i></a>
  </li>
</ul>

<router-outlet></router-outlet>