<div class="mat-app-background">
        <mat-toolbar color="primary" style="background-color:rgb(38, 201, 185);min-height: 40px;">
          <mat-toolbar-row>
            <span><a  data-activates="slide-out" class="button-collapse">
              <i class="md-36 material-icons md-light">reorder</i>
            </a></span>
            <span style="text-align:center; margin:0 auto;" (click)="home()"><img height="20%" width="20%" src="/assets/images/logo-1.png" alt="FareShare"></span>
            <span class="example-spacer"></span>
            <img height="40px" width="40px" src="/assets/images/friends.png" (click)="openDialog()">
          </mat-toolbar-row>
        </mat-toolbar>
        <ul id="slide-out" class="side-nav" >
          <li>
            <div class="user-view">
              <div class="background">
                <img src="assets/images/img2.png">
              </div>
              <a href="#login">
                <img class="circle" src="assets/images/profile.png">
              </a>
              <a href="#!name">
                <!-- <span class="white-text name">{{ username }}</span> -->
              </a>
              <a href="#!email">
                <span class="white-text email">{{username}}</span>
              </a>
            </div>
          </li>
          <li>
            <a href="#!">
              <i class="material-icons">group_add</i>Add Friends</a>
          </li>
          <li>
            <a (click)="redToProf()">
              <i class="material-icons md-light">perm_identity</i><span class="mkwhite">Profile</span></a>
          </li>
          <li>
            <!-- <div class="divider" style="color:black"></div> -->
          </li>
          <li>
            <a class="subheader">Account Settings</a>
          </li>
          <li>
            <a class="waves-effect" (click)="logout()">
              <i class="material-icons md-light">power_settings_new</i>Log-Out</a>
          </li>
        </ul>
</div>
<!-- <div class="overlay"  [style.display]="friend ? 'block' : 'none'" style="padding-top:0%">
  <i class="medium material-icons topcorner " style="color:black" (click)="closefriend()">close</i>
  <div id="mydiv" style="color:black">
      <app-friendlist></app-friendlist>
  </div> -->
  
<!-- </div> -->
<router-outlet></router-outlet>